@import "../../../styles/variables";
@import "../../DetailedEnigma/variables";

.rotor__wiring__container {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 16px;
  right: 16px;
}

.rotor__wiring {
  width: 100%;
  height: 100%;
}

.rotor__wire {
  stroke: $rotor-wire-color;
  stroke-width: 1;

  &.rotor--input {
    stroke: $primary;
    stroke-width: 2;
  }

  &.rotor--output {
    stroke: $secondary;
    stroke-width: 2;
  }
}
